[submodule "sub/gasha"]
	path = sub/gasha
	url = git@github.com:gakimaru/gasha.git
[submodule "sub/gasha_settings"]
	path = sub/gasha_settings
	url = git@github.com:gakimaru/gasha_settings.git
[submodule "sub/gasha_src"]
	path = sub/gasha_src
	url = git@github.com:gakimaru/gasha_src.git
